@model IEnumerable<ApplicationMVC.Models.Roupa>

<div>
    <h1 align="center">Todas as Roupas</h1>
</div>

<hr />
<br />

<div class="container">
    <div class="row">
        @foreach (var roupa in Model)
        {
            <div align="center" class="col-sm-4 col-md-4 col-lg-4">
                <h4>@roupa.NomeRoupa</h4>
                <p><img src="@roupa.ImagemUrl" class="img-fluid" width="200" /></p>
                <h5>Preço: @roupa.PrecoRoupa.ToString("c")</h5>
                <h6>@roupa.DescricaoRoupa</h6>
            </div>
        }
    </div>
</div>